<!doctype html>

body {
    margin: 0 auto;
    
}

.size {
    border-style: none;
    width: 800px;
    height: 800px;
    border-color: black;
}


.container h2 {
    font-family: Helvetica;
    color: black;
    font-size: 36px;
    text-align: center;
    font-weight:300;
    position: absolute;
    top: 70px;
    left: 380px;
}

/*-------------Upload Photo-----------------*/
.roundLabel .circleFrame {
    width: 138px;
    height: 138px;
    background: #60759B;
    border-radius: 69px;
    position: absolute;
    left: 166px;
    top: 184px;
}

.roundLabel h1 {
    font-family: Helvetica;
    color: white;
    font-size: 28px;
    text-align: center;
    font-weight: lighter;
    position: absolute;
    top: 14px;
}

.input-firstname {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 380px;
    top: 210px;
}

/*-------------Nickname-----------------*/
.input-name {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 380px;
    top: 240px;
}

.input-name input, .input-field select{
    border: 1px solid #979797;
    width: 180px;
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 20px;
}

/*-------------Email-----------------*/
.input-email {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 160px;
    top: 360px;
}

.anna-email {
    font-family: Helvetica;
    color: #696969;
    font-size: 20px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 430px;
    top: 360px;
}

/*-------------Passwords Confirm -----------------*/
.input-curpass {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 160px;
    top: 400px;
}

.input-curpass input, .input-field select{
    border: 1px solid #979797;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 54px;
}

.input-newpass {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 160px;
    top: 440px;
}

.input-newpass input, .input-field select{
    border: 1px solid #979797;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 86px;
}

.input-confpass {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 160px;
    top: 480px;
}

.input-confpass input, .input-field select{
    border: 1px solid #979797;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 50px;
}

/*-------------ClassCode-----------------*/
.input-classcode {
    font-family: Helvetica;
    color: black;
    font-size: 24px;
    text-align: center;
    font-weight:200;
    position: absolute;
    left: 160px;
    top: 520px;
}

.input-classcode input, .input-field select{
    border: 1px solid #979797;
    width: 280px;
    height: 30px;
    line-height: 30px;
    position: relative;
    left: 12px;
}

/*------------Update----------------*/
.updatebutton {
    position: absolute;
    left: 300px;
    top: 650px;
}

input[type="submit"] {
    background-color: #19BB9B;
    font-size: 24px;
    font-weight: 300;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    width: 180px;
    height: 35px;
}